@import url(header.css);
@import url(sobre.css);
@import url(historiadastranças.css);
@import url(depoimentos.css);
@import url(trabalhos.css);
@import url(footer2.css);
@import url(contatos.css);


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul
{
    list-style-type: none;

}

a
{
    text-decoration: none;
}

.preto
{
    height: 100px;
    background-color: rgb(250, 240, 232);
}

header
{
    z-index: 10;
}